:root{
  --mainDark: rgb(8, 2, 12);
  --mainGold: rgb(255, 187, 0);
  --mainPurple: rgb(63, 2, 63);
  --mainGrey: rgb(201, 201, 201);
}

.mainDarkColor{
  color: var(--mainDark);
}
.mainDarkBg{
  background: var(--mainDark);
}

.mainGoldColor{
  color: var(--mainGold);
}
.mainGoldBg{
  background: var(--mainGold);
}

.mainPurpleColor{
  color: var(--mainPurple);
}
.mainPurpleBg{
  background: var(--mainPurple);
}
.mainGreyColor{
  color: var(--mainGrey);
}

.link{
  text-decoration: none !important;
  cursor: pointer !important;
}
.link:hover{
  color: gray;
}

.link-col{
  text-decoration: none !important;
}

.main-card{
  height: 250px !important;
  overflow: hidden;
}

.margins{
  margin-right: 8% !important;
  margin-left: 8% !important;
}
.section-headers{
  margin-bottom: 2%;
}